[Unit]
Description=KFLIX Server Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=kflix
WorkingDirectory=/opt/kflix/
ExecStart=/bin/bash /opt/kflix/start-kflix.sh

[Install]
WantedBy=multi-user.target

